* {
  font-family: "SF-Pro";
}

.text-style {
  color: white;
  padding-top: 35vh;
  font-weight: 700;
}

#backimage {
  background-image: url(./../../assets/background.png);
  height: 90vh;
  width: auto;
  background-repeat: no-repeat;
}
.leaf {
  width: 20px;
}
